<% include header %>

<main role="main">
  <div class="container" id="main-container">
    <h1>Your balance: <span><%= balance %></span></h1>
    <% include pay_form %>
  </div>
</main>

<% include footer %>